UPDATE Eco1 SET
  CODIGO = @pCODIGO,
  INDDATA = @pINDDATA,
  CONVENIO = @pCONVENIO,
  NOME = @p,
  ENDERECO = @p,
  CIDADE = @p,
  ESTADO = @p,
  TELEFONE = @p,
  SEXO = @p,
  DATANASC = @p,
  PESO = @p,
  ALTURA = @p,
  MEDICO = @p,
  OBS1 = @p,
  OBS2 = @p,
  OBS3 = @p,
  OBS4 = @p,
  OBS5 = @p,
  OBS6 = @p,
  OBS7 = @p,
  DDF = @p,
  DSF = @p,
  EDS = @p,
  EDP = @p,
  DA = @p,
  DAE = @p,
  DVD = @p,
  MITRAL = @p,
  MITRAL2 = @p,
  MITRAL3 = @p,
  TRICUSPEDE = @p,
  AORTA = @p,
  AORTA2 = @p,
  AORTA3 = @p,
  PULMONAR = @p,
  ATRIODIR = @p,
  PERICARD = @p,
  ANAL1 = @p,
  ANAL2 = @p,
  ANAL3 = @p,
  ANAL4 = @p,
  DIAG1 = @p,
  DIAG2 = @p,
  DIAG4 = @p,
  DIAG3 = @p,
  DIAG5 = @p,
  DIAG6 = @p,
  DIAG7 = @p,
  OBSGER1 = @p,
  OBSGER2 = @p,
  OBSGER3 = @p,
  FUNCAO1 = @p,
  FUNCAO2 = @p,
  FUNCAO3 = @p,
  FUNCAO4 = @p,
  PULMONA2 = @p,
  DIAG8 = @p,
  DIAG9 = @p,
  EXAME = @p,
  RESP = @p,
  BRANCO = @p,
  ANAL5 = @p,
  ANAL6 = @p,
  MITRAL4 = @p,
  MITRAL5 = @p,
  AORTA4 = @p,
  AORTA5 = @p,
  OBS8 = @p,
  OBS9 = @p
  